<!DOCTYPE html>
<html>
<head>
  <title>TechResource</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to 'Home', root_path %>
<%= link_to 'About Us', aboutus_path %>
<%= link_to 'Services', services_path %>
<%= link_to 'Carreers', carreers_path %>
<%= link_to 'Contact Us', contactus_path %>
</body>
</html>
